In [1]:
import pandas as pd
import numpy as np
import datetime
from decimal import Decimal

In [30]:
procurement_values = Procurement.objects.filter().values_list('id', 'procurement_group__produce_net_weight', 'procurement_group__agent__first_name', 'procurement_group__agent__last_name', 'procurement_group__procurement_date', 'ticket_number', 'str_weight', 'str_weight_unit', 'gunnybag_weight', 'moisture', 'other_deduction')
procurment_column = ['procurment_id', 'produce_net_weight', 'agent_first_name', 'agent_last_name', 'procurement_date', 'ticket_number', 'str_weight', 'str_weight_unit',  'gunnybag_weight', 'moisture', 'other_deduction']

procurement_df = pd.DataFrame(list(procurement_values), columns=procurment_column)

procurement_df['loss'] = ((procurement_df['str_weight'] - procurement_df['produce_net_weight'])/procurement_df['str_weight']) * 100
procurement_df['loss'] = procurement_df['loss'].astype(float).round(2)

In [33]:
procurement_df.head()

,procurment_id,produce_net_weight,agent_first_name,agent_last_name,procurement_date,ticket_number,str_weight,str_weight_unit,gunnybag_weight,moisture,other_deduction,loss
0,8,378.00,K Basappa,Kadappa,2020-05-30,2020053001002,496.00,1,2.00,0.00,0.00,23.79
1,9,119.00,Kemparaju_Nanjangud,Madappa,2020-05-30,2020053001001,1059.00,1,1.00,0.00,0.00,88.76
2,11,2269.00,Shivakumar,Ankappa,2020-06-01,2020060101003,2373.00,1,11.00,0.00,0.00,4.38
3,12,1195.00,Maheshappa,Basappa,2020-06-01,2020060101002,1176.00,1,5.00,0.00,0.00,-1.62
4,13,1653.00,Manjesh M,Mallappa,2020-06-01,2020060101001,1722.00,1,7.00,0.00,0.00,4.01