# srigavuyum

ProductAvailability.objects.all().values()
DeliveryTime.objects.get(product_id=15,)

In [7]:
DeliveryTime.objects.get(product_id=15, vertical_id=1)

In [4]:
DeliveryTime.objects.get(product_id=15).vertical_id

1

In [1]:
obj = DeliveryTime.objects.filter(product_id =15)
obj1 = list(DeliveryTime.objects.filter(product_id =15).values_list('vertical__name', flat=True))
obj2 = DeliveryTime.objects.get(product_id=15).vertical.name
print(obj)
# print(obj.vertical.name)
print(obj1)
print(obj2)

for i in obj:
    print(i.vertical.name)

<QuerySet [<DeliveryTime: 25 - Pannai_new -home - chicken  - 10.00 am - 6.00 pm>]>
['home']
home
home

In [21]:

# obj = request.data.get("name",False)
data = {"field1":
        {"name": "naveen","age":24},
        "field2":{"age": 23,"D_O_B": "12-12-1999"}}
# obj = data.get("name","age",False)

obj = data.get("field1",False)
print(obj)

obj1 = data.get("field2",False)
print(obj1)

obj2 = data.get("field1").get("name",False)
print(obj2)

obj3 = data["field1"]["name"]

print(obj3)

{'name': 'naveen', 'age': 24}
{'age': 23, 'D_O_B': '12-12-1999'}
naveen
naveen

In [59]:
obj =  DeliveryTime.objects.get(product_id=14).vertical.name
obj
obj1 = Product.objects.get(short_name="Milk").container.name
print(obj1)

RelatedObjectDoesNotExist: DeliveryTime has no product.

In [6]:
obj = Product.objects.get(id=1)
obj

In [16]:
Product.objects.filter(price__gte=50).order_by("id")

<QuerySet [<Product: 4 - Pannai_new - Free range Country chicken - 1000 gm - 004>, <Product: 8 - Pannai_new - Free range Country chicken - 300 gm - 006>, <Product: 9 - Pannai_new - Free range Country chicken - 500 gm - 007>, <Product: 11 - Pannai_new - potato - NPOT>, <Product: 13 - Pannai_new - tomato  - TMT>]>

In [19]:
Product.objects.all()

<QuerySet [<Product: 1 - Pannai_new - Native breed cow Milk - 001>, <Product: 2 - Pannai_new - Native breed Cow Milk Ghee - 002>, <Product: 3 - Pannai_new - Native Breed Cow Milk Powder - 003>, <Product: 5 - Pannai_new - Free range  country chicken eggs - 005>, <Product: 4 - Pannai_new - Free range Country chicken - 1000 gm - 004>, <Product: 8 - Pannai_new - Free range Country chicken - 300 gm - 006>, <Product: 9 - Pannai_new - Free range Country chicken - 500 gm - 007>, <Product: 10 - Pannai_new - testname - test123>, <Product: 13 - Pannai_new - tomato  - TMT>, <Product: 14 - Pannai_new - onion - ON>, <Product: 12 - Pannai_new -  - >, <Product: 11 - Pannai_new - potato - NPOT>, <Product: 15 - Pannai_new - chicken  - 0013222022>]>

In [61]:
import time
time_of_hour = time.strftime("%H.%M")
time=float(time_of_hour)
print(time)

if (8.30 <= time <= 14):
    print("run")
else:
    print("out of range")

16.47
out of range

In [4]:
total_cost = 100
wallet = 150
wallet -= total_cost

print(total_cost,wallet)

100 50

In [17]:
import pandas as pd
import numpy as np

s = pd.Series([1,2,3,4,5,np.nan,6])
d = pd .date_range("20220312",periods=10)
df = pd.DataFrame(np.random.randn(10,5),index=d,columns=["a","b","c","d","e"])
print(df)
d

                   a         b         c         d         e
2022-03-12  0.069990  2.169132  0.007377 -0.231600 -0.033017
2022-03-13 -0.193482 -1.831068 -0.586485 -0.378151  0.262763
2022-03-14 -1.128597 -0.202982 -1.312844  0.112819 -0.422030
2022-03-15  1.130710 -0.901897  2.245705  2.124105 -0.687860
2022-03-16 -0.916883 -0.901878 -0.716725 -0.565254  1.077532
2022-03-17 -1.008468  1.026441 -0.872794  1.366765 -1.026057
2022-03-18  0.556491 -0.623198 -0.458571  0.716280 -0.597450
2022-03-19 -1.317049  1.591319 -1.386716 -0.205078 -0.330844
2022-03-20  0.285951 -1.088852  0.282082 -1.578808  1.158309
2022-03-21 -0.196402  1.209151 -0.171957  0.173598  0.959722

DatetimeIndex(['2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19',
               '2022-03-20', '2022-03-21'],
              dtype='datetime64[ns]', freq='D')

In [18]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
dtype: float64

In [50]:
c = 5
r = 3
Array = [ [i] * c for i in range(r) ]
Array
a = [[0,1,[2,3,4]], [0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]
a[0][2][0]

2

In [69]:
user_type = UserTypeUserMap.objects.get(user=24).user.id
user_type

24

In [56]:
# Python program to illustrate
# enumerate function in loops
l1 = ["eat", "sleep", "repeat"]

# printing the tuples in object directly
for ele in enumerate(l1):
	print (ele)

# changing index and printing separately
for count, ele in enumerate(l1, 1000):
    print (count, ele)
    print(count)
# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
1000 eat
1000
1001 sleep
1001
1002 repeat
1002
0
eat
1
sleep
2
repeat

# series

In [1]:
import pandas as pd
import numpy as np
# dict
info_dict= {"name": "Naveen" , 'age': 23, 'sex': "male"}  
#array
info =np.array(["p","a","n","d","a","s"])
#scalar

inf = pd.Series("naveen",index=[1,2,3,45])

pandas =pd.Series(info,index=[1,2,3,4,5,6])

pan = pd.Series(info_dict)

print(pandas)
print(pan)
print(inf)


#accessing data 

access = pd.Series(["Naveen",23,"male"],index=["name","age","sex"])
print(access)
print(access[0])
print(access["name"])


x=pd.Series(data=[2,4,6,8],index=[1,2,3,4])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])  
w = pd.Series(["naveen","vijay",'viky',"navaneethan","surya","semmalai",2,234])

#index
print(x.index)
print(y.index)
#dtype
print(x.dtype,"dtype")
# size
print(x.size)
print(access.size)
print(w,"this is size:",w.size)
#shape

print(x.shape,y.shape,w.shape)

#Dimension and Number of bytes:

print(w.ndim)
print(w.nbytes,"a:",x.nbytes)

#Checking Emptiness and Presence of NaNs
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count( ),b.count( )) 




#map

a = pd.Series(['Java', 'C', 'C++', np.nan])  
print(a.map({'Java': 'Core'}))  
print(a.map('I like {}'.format, na_action='ignore')  )

1    p
2    a
3    n
4    d
5    a
6    s
dtype: object
name    Naveen
age         23
sex       male
dtype: object
1     naveen
2     naveen
3     naveen
45    naveen
dtype: object
name    Naveen
age         23
sex       male
dtype: object
Naveen
Naveen
Int64Index([1, 2, 3, 4], dtype='int64')
Index(['a', 'b', 'c'], dtype='object')
int64 dtype
4
3
0         naveen
1          vijay
2           viky
3    navaneethan
4          surya
5       semmalai
6              2
7            234
dtype: object this is size: 8
(4,) (3,) (8,)
1
64 a: 32
False False True
True False False
4 3
3 3
0    Core
1     NaN
2     NaN
3     NaN
dtype: object
0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

<ipython-input-1-ed21f856b14a>:53: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  c=pd.Series()

#  dataframe

In [71]:
name =["naveen","vijay"]
res = pd.DataFrame(name,index=[1,2],columns=["name"])
res

     name
1  naveen
2   vijay

In [17]:
def name(number):
    if number==10:
        return "this is 10"
    else:
        return "this is not 10"
        
print(name(10))

def another():
    print("start")
    nav = name(100)
    print(nav)
    
another()

this is 10
start
this is not 10