In [68]:
import pandas as pd

type_ids = [3,4,5]
master_dict = {}
user_list = []
final_dict = {}

user_type_obj = UserType.objects.filter(id__in=type_ids)
type_list = []

for item in user_type_obj:
    user_type = {
        'id': item.id,
        'type': item.name
        }
    type_list.append(user_type)
    
    if not item.id in master_dict:
        master_dict[item.id] = []
        
        if item.id == 3:  #QPM
            nursery_obj = NurseryOffice.objects.filter().values_list('id', 'nursery__name')
            nursery_columns = ['office_id', 'office_name']
            nursery_df = pd.DataFrame(list(nursery_obj), columns=nursery_columns)
            nursery_list = nursery_df.to_dict('r')
            master_dict[item.id] = nursery_list
            
        elif item.id == 4:  #IndustryOffice
            industry_obj = IndustryOffice.objects.filter().values_list('id', 'industry__name')
            industry_columns = ['office_id', 'office_name']
            industry_df = pd.DataFrame(list(industry_obj), columns=industry_columns)
            industry_list = industry_df.to_dict('r')
            master_dict[item.id] = industry_list
        
        elif item.id == 5:  #InstituteOffice
            institute_obj = InstituteOffice.objects.filter().values_list('id', 'institute__name')
            institute_columns = ['office_id', 'office_name']
            institute_df = pd.DataFrame(list(institute_obj), columns=institute_columns)
            institute_list = institute_df.to_dict('r')
            master_dict[item.id] = institute_list
            
    final_dict['user_types'] = type_list
    final_dict['user_types_details'] = master_dict
    

final_dict

{'user_types': [{'id': 3, 'type': 'QPM'},
  {'id': 4, 'type': 'Industry'},
  {'id': 5, 'type': 'Scientist'}],
 'user_types_details': {3: [{'office_id': 1, 'office_name': 'TAMARAI'},
   {'office_id': 2, 'office_name': 'Malar'}],
  4: [{'office_id': 2, 'office_name': 'kultivate software'},
   {'office_id': 3, 'office_name': 'Taj woods'},
   {'office_id': 4, 'office_name': 'kultivate software'}],
  5: [{'office_id': 2, 'office_name': 'IFGTB'}]}}

In [5]:
from django.contrib.auth.models import User
from django.contrib.auth.hashers import make_password
first_name = "steve"
last_name =  "sur"
mobile = 1132556852
office_id = 1
superior_user_type =  3
user_type_id = 7
added_by_id = 1

user = User.objects.create(
        first_name=first_name,
        last_name=last_name,
        username=mobile,
        password=make_password('1234')
    )
user.save()
print('user saved')

user_profile = UserProfile.objects.create(
    user_id=user.id,
    user_type_id=user_type_id,
    mobile=mobile,
    added_by_id = added_by_id
)
user_profile.save()
print('user_profile saved')

user saved
user_profile saved
surveyor_official_map_saved

In [15]:
superior_user_type =  3
office_id = 1

if superior_user_type == 3:
    print('qpm')
    surveyor_official_map = SurveyorOfficialMap.objects.create(
                            surveyor_id = 57,
                            superior_user_type_id = superior_user_type,
                            nursery_office_id = office_id)
    surveyor_official_map.save()
    print('surveyor_official_saved')
elif superior_user_type == 4:
    print('industry_office')
    surveyor_official_map = SurveyorOfficialMap.objects.create(
                            surveyor_id = 57,
                            superior_user_type_id = superior_user_type,
                            industry_office_id = office_id)
    surveyor_official_map.save()
    print('surveyor_official_saved')
elif superior_user_type == 5:
    print('inistitute_office')
    surveyor_official_map = SurveyorOfficialMap.objects.create(
                            surveyor_id = 57,
                            superior_user_type_id = superior_user_type,
                            institute_office_id = office_id)
    surveyor_official_map.save()
    print('surveyor_official_saved')
else:
    print('no_value_found_in_tabe')

qpm
surveyor_official_saved

In [33]:
surveyor_df

   surveyor_id  ... nursery_office_name
0           57  ...                   -
1           57  ...                   -
2           57  ...                   -
3           57  ...             TAMARAI
4           58  ...                   -
5           59  ...               Malar
6           60  ...               Malar
7           63  ...               Malar

[8 rows x 5 columns]

In [37]:
import pandas as pd

office_name = []
surveyor_name = []
temp_dict = {}
surveyor_official_map_obj = SurveyorOfficialMap.objects.filter().values_list('surveyor_id', 'surveyor__first_name', 'industry_office__industry__name', 'institute_office__institute__name', 'nursery_office__nursery__name')
columns = ["surveyou_name", "industry_office_name", "institute_office_name", "nursery_office_name"]
surveyor_df = pd.DataFrame(list(surveyor_official_map_obj), columns=columns)

for index, row in surveyor_df.iterrows():
    if not row['industry_office_name'] == None:
        office_name.append(row['industry_office_name'])
        surveyor_name.append(row['surveyou_name'])
    elif not row['institute_office_name'] == None:
        office_name.append(row['institute_office_name'])
        surveyor_name.append(row['surveyou_name'])
    elif not row['nursery_office_name'] == None:
        office_name.append(row['nursery_office_name'])
        surveyor_name.append(row['surveyou_name'])
temp_dict['office_names'] = temp
temp_dict['surveyor_names'] = name
df = pd.DataFrame(temp_dict)
df

  office_names surveyor_name
0      TAMARAI         steve
1    Taj woods          rubn
2        Malar            ef
3        Malar          ffef
4        Malar        rdetre

In [6]:
mobile = 8529637410
if not User.objects.filter(username=mobile).exists():
        user = User.objects.create(
                first_name=first_name,
                last_name=last_name,
                username=mobile,
                password=make_password('1234')
            )
        user.save()
        print('user saved')
else:
    print(2)

2

In [40]:
surveyor_official_map_obj = SurveyorOfficialMap.objects.filter().values_list('surveyor', 'surveyor__first_name', 'surveyor__last_name', 'surveyor__username','superior_user_type_id', 'industry_office','industry_office__industry__name', 'institute_office_id','institute_office__institute__name', "nursery_office",'nursery_office__nursery__name')
columns = ["surveyor_id", "surveyou_first_name", 'surveyou_last_name', "mobile", "superior_user_type", "industry_office_id", "industry_office_name", "institute_id","institute_office_name", "nursery_id","nursery_office_name"]
surveyor_df = pd.DataFrame(list(surveyor_official_map_obj), columns=columns)
surveyor_df

   surveyor_id  ... nursery_office_name
0           57  ...                None
1           57  ...                None
2           57  ...                None
3           57  ...             TAMARAI
4           58  ...                None
5           59  ...               Malar
6           60  ...               Malar
7           63  ...               Malar

[8 rows x 11 columns]

In [48]:
mobile = 1132556852
temp_dict = {}
user_id = User.objects.get(username=1132556852).id
print(user_id)
surveyor_official_map_obj = SurveyorOfficialMap.objects.filter(surveyor__username=mobile).values_list('surveyor', 'superior_user_type', 'industry_office', 'institute_office', 'nursery_office')
df = pd.DataFrame(list(surveyor_official_map_obj), columns=["surveyor", "superior_user_type", "industry_office", "institute_office", "nursery_office"])
to_edit_dict = df.to_dict('r')[0]
to_edit_dict

57

/home/steve/Software/virtualenv/jamun/lib/python3.9/site-packages/pandas/core/frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

{'surveyor': 57,
 'superior_user_type': 3,
 'industry_office': None,
 'institute_office': None,
 'nursery_office': 1}

In [39]:
first_name = "ruban"
last_name = "steve"
mobile = "1234567890"
office_id = 3
superior_user_type =4
surveyor_id = 100


if User.objects.filter(id=surveyor_id).exists():
    print('yes')
    User.objects.filter(id=surveyor_id).update(
                    first_name=first_name,
                    last_name=last_name)
    print('names_updated')
    SurveyorOfficialMap.objects.filter(surveyor_id=surveyor_id).update(
    nursery_office_id = None,
    industry_office_id = None,
    institute_office_id = None)
   
    if superior_user_type == 3:
        surveyor_official_map = SurveyorOfficialMap.objects.filter(surveyor_id=surveyor_id).update(
                                nursery_office_id = office_id)
        print('surveyor_official_saved')
        data = {'status':'Surveyor Updated Sucessfully'}
    elif superior_user_type == 4:
        surveyor_official_map = SurveyorOfficialMap.objects.filter(surveyor_id=surveyor_id).update(
                                industry_office_id = office_id)
        print('surveyor_official_saved')
        data = {'status':'Surveyor Updated Sucessfully'}
    elif superior_user_type == 5:
        surveyor_official_map = SurveyorOfficialMap.objects.filter(surveyor_id=surveyor_id).update(
                                institute_office_id = office_id)
        print('surveyor_official_saved')
        data = {'status':'Surveyor Updated Sucessfully'}
   
else:
    data = {'status':'Create a new surveyor'}

yes
names_updated
surveyor_official_saved

In [5]:
import pandas as pd
surveyor_official_map_obj = SurveyorOfficialMap.objects.filter(surveyor_id=103).values_list('surveyor', 'surveyor__first_name', 'surveyor__last_name', 'surveyor__username','superior_user_type_id','superior_user_type__name', 'industry_office','industry_office__industry__name', 'institute_office_id','institute_office__institute__name', "nursery_office",'nursery_office__nursery__name')
columns = ["surveyor_id", "surveyor_first_name", 'surveyor_last_name', "mobile", "superior_user_type","superior_user_type_name", "industry_office_id", "industry_office_name", "institute_id","institute_office_name", "nursery_id","nursery_office_name"]
surveyor_df = pd.DataFrame(list(surveyor_official_map_obj), columns=columns)
surveyor_df = surveyor_df.fillna(0)
surveyor_df['office_id'] = None
surveyor_df['office_name'] = None
user_type_name = UserProfile.objects.get(user_id=103).user_type.name
surveyor_df['user_type_name'] = user_type_name

for index, row in surveyor_df.iterrows():
    if row['superior_user_type'] == 3:
        surveyor_df.at[index, 'office_id'] = row['nursery_id']
        surveyor_df.at[index, 'office_name'] = row['nursery_office_name']
    elif row['superior_user_type'] == 4:
        surveyor_df.at[index, 'office_id'] = row['industry_office_id']
        surveyor_df.at[index, 'office_name'] = row['industry_office_name']
    elif row['superior_user_type'] == 5:
        surveyor_df.at[index, 'office_id'] = row['institute_id']
        surveyor_df.at[index, 'office_name'] = row['institute_office_name']
surveyor_list = surveyor_df.to_dict('r')[0]

In [6]:
surveyor_list

{'surveyor_id': 103,
 'surveyor_first_name': 'steve',
 'surveyor_last_name': 'ruban',
 'mobile': '2587946102',
 'superior_user_type': 4,
 'superior_user_type_name': 'Industry',
 'industry_office_id': 3,
 'industry_office_name': 'Taj woods',
 'institute_id': 0,
 'institute_office_name': 0,
 'nursery_id': 0,
 'nursery_office_name': 0,
 'office_id': 3,
 'office_name': 'Taj woods',
 'user_type_name': 'Survey Officers'}

In [5]:
surveyou_obj = SurveyorOfficialMap.objects.filter(surveyor_id=103)
surveyou_obj

farmer_count_under_surveyor = UserProfile.objects.filter(user_id=104, user_type_id=1)
farmer_count_under_surveyor

In [1]:
surveyor_id = 104
farmer_obj = UserProfile.objects.filter(user_type_id=1, user_id=105).count()
farmer_obj

1

In [ ]:
'surveyor', 'surveyor__first_name', 'surveyor__last_name', 'surveyor__username','superior_user_type_id','superior_user_type__name', 'industry_office','industry_office__industry__name', 'institute_office_id','institute_office__institute__name', "nursery_office",'nursery_office__nursery__name'

In [ ]:
"surveyor_id", "surveyor_first_name", 'surveyor_last_name', "mobile", "superior_user_type","superior_user_type_name", "industry_office_id", "industry_office_name", "institute_id","institute_office_name", "nursery_id","nursery_office_name"